body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fffeee;
}

h1 {
  color: #000000;
  text-align: center;
}

h2 {
  color: rgb(0, 73, 104);
  text-align: center;
}

form {
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


p {
  color: rgba(0, 119, 125, 0.692);
  text-align: center;
}

button {
  font-family: 'Courier New', Courier, monospace;  
  display: block;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff200;
  color: rgb(0, 73, 104);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ecb308;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: rgb(246, 232, 41);
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
}

nav {
    background-color: #000d5f;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #01568f;
    border-radius: 4px;
}
